@model List<CinemaHall>
@{
    ViewData["Title"] = "GetHalls";
}

<h1>GetHalls</h1>

<section class="grids-1 py-5">
    <div class="grids py-lg-5 py-md-4">
        <div class="container">
            <h3 class="hny-title mb-5">Movies</h3>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="column">
                            
                            <div class="info">
                                <h4><a href="">@item.Name</a></h4>
                                
                                <div class="dst-btm">

                                    <span>@item.Movie.Name</span>
                                    <span>@item.Movie.Year</span>
                                    @*@foreach (var halls in item.CinemaHalls)
                                        {
                                            <span>@halls.Name</span>
                                        }*@
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
